<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="todolist not-done">
        <h1>Todos</h1>
        <input type="text"
               class="form-control add-todo"
               placeholder="Add todo">
        <button id="checkAll"
                class="btn btn-success">Mark all as done</button>

        <hr>
        <ul id="sortable"
            class="list-unstyled">
          <li class="ui-state-default">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       value="" />Take out the trash</label>
            </div>
          </li>
          <li class="ui-state-default">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       value="" />Buy bread</label>
            </div>
          </li>
          <li class="ui-state-default">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       value="" />Teach penguins to fly</label>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-md-6">
      <div class="todolist">
        <h1>Reactive form</h1>
        <div class="bootstrap-iso">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="post">
                  <div class="form-group ">
                    <label class="control-label "
                           for="name">
                      Name
                    </label>
                    <input class="form-control"
                           id="name"
                           name="name"
                           type="text" />
                  </div>
                  <div class="form-group ">
                    <label class="control-label ">
                      Select a Choice
                    </label>
                    <div class="">
                      <div class="radio">
                        <label class="radio">
                          <input name="radio"
                                 type="radio"
                                 value="First Choice" />
                          First Choice
                        </label>
                      </div>
                      <div class="radio">
                        <label class="radio">
                          <input name="radio"
                                 type="radio"
                                 value="Second Choice" />
                          Second Choice
                        </label>
                      </div>
                      <div class="radio">
                        <label class="radio">
                          <input name="radio"
                                 type="radio"
                                 value="Third Choice" />
                          Third Choice
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="control-label requiredField"
                           for="email">
                      Email
                      <span class="asteriskField">
                        *
                      </span>
                    </label>
                    <input class="form-control"
                           id="email"
                           name="email"
                           type="text" />
                  </div>
                  <div class="form-group ">
                    <label class="control-label "
                           for="message">
                      Message
                    </label>
                    <textarea class="form-control"
                              cols="40"
                              id="message"
                              name="message"
                              rows="10"></textarea>
                  </div>
                  <div class="form-group ">
                    <label class="control-label ">
                      Check all that apply
                    </label>
                    <div class=" ">
                      <div class="checkbox">
                        <label class="checkbox">
                          <input name="checkbox"
                                 type="checkbox"
                                 value="First Choice" />
                          First Choice
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="checkbox">
                          <input name="checkbox"
                                 type="checkbox"
                                 value="Second Choice" />
                          Second Choice
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="checkbox">
                          <input name="checkbox"
                                 type="checkbox"
                                 value="Third Choice" />
                          Third Choice
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div>
                      <button class="btn btn-primary "
                              name="submit"
                              type="submit">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
